@use 'functions' as *;
@use 'maps' as *;
@use 'variables' as *;

@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: get-breakpoint(mobile)) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: get-breakpoint(desktop)) {
      @content;
    }
  }
}

@mixin placeholder {
  &::placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: $color-white;
  }
  &::-webkit-scrollbar-thumb {
    background: $color-gray;
    border-radius: 4px;
    &:hover {
      background: $color-secondary;
    }
  }
}

